server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/kazilen
    username: postgres
    password:  
  jpa:
    hibernate:
      ddl-auto: update   # dev only
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
